@* filepath: d:\Jose\Universidad\Semestre VII\Servicios\Corte I\ServicesDevelopment\Exams\Exam-03\MoneyBankWeb-josoterad\Views\Accounts\Edit.cshtml *@
@model MoneyBankWeb_josoterad.Models.AccountDto

<h2>Editar Cuenta</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label>Tipo de Cuenta</label>
        <select asp-for="AccountType">
            <option value="A">Ahorros</option>
            <option value="C">Corriente</option>
        </select>
    </div>
    <div>
        <label>Número de Cuenta</label>
        <input asp-for="AccountNumber" readonly />
    </div>
    <div>
        <label>Propietario</label>
        <input asp-for="OwnerName"/>
        <span asp-validation-for="OwnerName"></span>
    </div>
    <div>
        <label>Balance</label>
        <input asp-for="BalanceAmount" value=""/>
        <span asp-validation-for="BalanceAmount"></span>
    </div>
    <button type="submit">Guardar</button>
</form>
<a asp-action="Index">Volver</a>