@* filepath: d:\Jose\Universidad\Semestre VII\Servicios\Corte I\ServicesDevelopment\Exams\Exam-03\MoneyBankWeb-josoterad\Views\Accounts\Withdrawal.cshtml *@
@model MoneyBankWeb_josoterad.Models.TransactionDto

<h2>Retiro</h2>
<form asp-action="Withdrawal" method="post">
    <input type="hidden" asp-for="AccountNumber" />
    <div>
        <label>Monto a retirar</label>
        <input asp-for="ValueAmount" value=""/>
        <span asp-validation-for="ValueAmount"></span>
    </div>
    <button type="submit">Retirar</button>
</form>
<a asp-action="Index">Volver</a>