body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 1100px; /* Ajustado para más columnas */
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

h2 {
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 22px); /* Ajuste para padding y borde */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye padding y borde en el width total */
}

button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

button#clear-form-btn, button.delete-btn {
    background-color: #6c757d;
}
button#clear-form-btn:hover, button.delete-btn:hover {
    background-color: #545b62;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    word-break: break-word; /* Para evitar que el contenido largo rompa el layout */
}

th {
    background-color: #007bff;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para filas de cuentas que usan sobregiro */
tbody tr.overdraft-active {
    background-color: #fff3cd; /* Un amarillo claro como advertencia */
}
tbody tr.overdraft-active:hover {
    background-color: #ffeeba;
}
tbody tr.overdraft-active td {
    /* Podrías agregar estilos específicos a las celdas si es necesario,
       por ejemplo, para la columna "Sobregiro Utilizado" */
}


hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 40px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 30px;
}

/* Mensajes de feedback */
#form-feedback, #transaction-feedback, #accounts-loading {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}