<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MoneyBank Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>MoneyBank Web</h1>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Accounts">Cuentas</a></li>
                </ul>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <p>&copy; 2025 - MoneyBank Web</p>
        </footer>
    </div>
</body>
</html>
