@model MoneyBankWeb_josoterad.Models.AccountDto

<h1>Eliminar Cuenta</h1>

<h3>¿Estás seguro que deseas eliminar esta cuenta?</h3>

<div>
    <h4>@Model.AccountNumber - @Model.OwnerName</h4>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
